.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}

.ezy__footer4 {
  width: 100%;
  background: linear-gradient(to bottom, #a2bf5a, #6CB33F);
  color: #ffffff;
  padding: 2rem 1rem;
  font-family: 'Segoe UI', sans-serif;
}

.footer-logo-img {
  max-width: 160px;
  height: auto;
}

.footer-link {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}

.footer-link:hover {
  text-decoration: underline;
  color: #dfe6d9;
}

.footer-copy {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #e2e2e2;
}
